/*style reset*/
body {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li, p, a {
    margin: 0;
    padding: 0;
}

/*clearfix*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* colors */
.blue {
    background-color: #050223;
}

.white {
    background-color: #FFFFFF;
}

.gray {
    background-color: #f0f3f4;
}

.online-color {
    background-color: #96E144;
}

/*asyde*/
aside {
    flex: 0 1 130px;
}

.main-flex-container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
}

.pt-25 {
    padding-top: 25px;
}

.pt-13 {
    padding-top: 13px;
}

.logo {
    height: 100px;
}

.logo img {
    display: block;
    width: 60px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

.photo img {
    border-radius: 50%;
}

.profile {
    height: 84px;
}

.profile .photo {
    width: 40px;
    height: 40px;
}

.state {
    margin-top: 10px;
    background: rgba(150, 225, 68, .5);
    border-radius: 2px;
    width: 100px;
    height: 18px;
}

.state p {
    font-family: Roboto-Regular, sans-serif;
    font-size: 11px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
}

.actions li:first-child {
    padding-top: 19px;
}

.actions li {
    padding-bottom: 33px;
}

.actions img {
    display: block;
    vertical-align: bottom;
}

.horizontal-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aside-border {
    border-bottom: 1px solid #302E47;
}

/*main block*/
.right-side {
    flex: 1 1 0;
}

.header {
    border-bottom: 1px solid #DEE5E7;
}

nav ul {
    display: flex;
    align-items: center;
    float: left;
}

nav li {
    padding: 15px 12px;
    margin-right: 18px;
}

nav li:first-child {
    margin-left: 16px;
}

nav a {
    text-decoration: none;
    font-family: Roboto-Regular, sans-serif;
    font-size: 13px;
    color: #98A6AD;
    line-height: 15px;
}

.active {
    position: relative;
}

.active a {
    color: #58666E;
}

.active::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #35B8FF;
    bottom: -1px;
    left: 0;
    width: 100%;
}

.shop {
    background: #35B8FF;
    border-radius: 2px;
    display: inline-block;
    width: 144px;
    height: 32px;
    float: right;
    margin: 9px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto-Medium, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.43px;
    line-height: 33px;
    text-align: center;
}

/*content*/
.right-side main {
    padding: 30px;
}

.content {
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.14);
}

